<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/auth/login.css">
</head>
<body>
    <section class="card">
        <h1>로그인</h1>
        <form method="POST">
            <label for="id">
                아이디
                <input type="text" id="id" name="id" required />
            </label>
            <label for="pw">
                비밀번호
                <input type="password" id="pw" name="pw" required />
            </label>
            <button type="submit">로그인하기</button>
        </form>
    </section>
</body>
</html>
